.marker-cluster-small {
background-color: rgba(255, 255, 178, 0.6);
}
.marker-cluster-small div {
background-color: rgba(254, 217, 118, 0.6);
}

.marker-cluster-medium {
background-color: rgba(254, 178, 76, 0.6);
}
.marker-cluster-medium div {
background-color: rgba(253, 141, 60, 0.6);
}

.marker-cluster-large {
background-color: rgba(240, 59, 32, 0.6);
}
.marker-cluster-large div {
background-color: rgba(189, 0, 38, 0.6);
}

.marker-cluster {
background-clip: padding-box;
border-radius: 20px;
}
.marker-cluster div {
width: 30px;
height: 30px;
margin-left: 5px;
margin-top: 5px;

text-align: center;
border-radius: 15px;
font: 14px "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.marker-cluster span {
line-height: 30px;
}
